body {
    accent-color: green;
}
/* use the i  future i am going to use thiis in future */
:root {
    --main-bg-color: coral;
  }


/* modify boostrap class */
 .carousel-item p {
    color: black;
}

.divider{
    padding: 19px 0;
}
.carousel-item h3 {
    color: black;

}

body {
    top: 0;
    margin: 0;
    border: 0;
    background-color: white;
    
}

.main-container {
    width: 100%;
    
}

header {
    width: 100%;
    top: 0;
    height: auto; 
}

.bunner {
    height: auto;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    bottom: 0;

}

.bunner img {
    width: 100%;
    height: 130px;
    margin: auto;
    margin-bottom: 0;
    padding-bottom: 0;

}

nav {
    margin-top: 0;
    padding-top: 0;
    height: 60px;
 
}

nav .descktop-menu {
    height: 60px;
    margin-top: 0;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: blueviolet; 

}

nav .descktop-menu li {
    margin-right: 18px;
    list-style: none;
    font-size: medium;
    font-weight:  bold;
}

nav .descktop-menu li a {
 text-decoration: none;
 color: green;
}

nav .descktop-menu li a:hover{
    color: #4B0082;
    border-bottom: 2px solid #4B0082;
}

main {
    margin-top: 14px;
    display: grid;
    /* background-color:rgb(215, 75, 75); */
    grid-row-gap: 2px;
    grid-template-columns: 1fr 3fr;
}

.side-cards {
    width: 100%;
    height: 200px;
    /* padding: 2px */
}

.card {
    height: 300px;
    width: 98%;
    /* background-color: aqua; */
    margin-bottom: 12px;
}

.main-content {
    width: 100%;
    padding-left: 12px;
    
}

.owl-carousel{
 /* padding: 0; */
 /* margin: auto; */
}

.main-content img {
    height: 500px;
}

.section-header {
    padding-top: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.section-header hr {
    width: 40px;
    border: 3px solid #4B0082;
}

.section-header hr:hover {
    width: 40px;
    border: 3px solid #4B0082;
}

.about-us-card {
    height: 400px;
}

.featurette img {
    height: 320px;
    
}

.our-patner {
    height: 150px;
    /* background-color: green; */
    opacity: .6;
    /* margin-top: 12px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.partner {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid grey;
    height: 70px;
    padding: 10px;
    background-color: #4B0082;
    color: white;
    font-size: large;
}

nav .descktop-menu li a.active {
   color: #4B0082;
   border-bottom: 2px solid #4B0082
   
}

footer {
    padding-left: 104px;
    padding-right: 104px;
   background-color: #4B0082
}

footer h5 {
 color: #fff;
}

footer ul li a {
    color: #fff;    
}

footer p {
    color:#fff;
}

.btn {
    background-color: green;
    color: #4B0082;
}

.contsct-us-links ul li {
    padding: 0;
    margin: 0;
    color: #fff;

}

section:nth-child(odd) {background: rgb(241, 241, 241)}

#home-content{
    display: block;
}

#about-us-content{
    display: none;
}

#contact-us-content {
    display: none;
}

.contact-info-container {

    padding-top: 44px;
    padding-bottom: 24px;
 
}

#service-content {
    display:none;
}

.contact-info div {
    border-radius: 10px;
    padding: 12px;
    display: grid;
    margin-bottom: 1px;
    grid-row-gap: 2px;
    grid-template-columns: 1fr 7fr;

}

.contact-info div:hover {
    background-color:#4c008211;
    color: green;
    font-weight: bold;
    /* font-size: 17px */
}

.main-service-card {
    /* background-color: red; */
    width: 60%;
    display: flex;
    flex-direction: row;
    text-align: start;

    
}

.card-title:hover {
    color: blueviolet;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
body {
    padding: 0 2px 0 2px;   
}

main {
    margin-top: 14px;
    display: flex;
   flex-direction: column-reverse;
   justify-content: space-between;
}

nav .descktop-menu {
    display: none;
}

.service-card {
    display: flex;
    flex-direction: column;
    
  }
    
}




